
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Mobile-124-258-3698</p>
    <p class="lead">Address: 123 abc street</p>
  </div>
</div>