<div class="card">
  <div class="card-body">
    <h3 class="card-title">Type of insurance</h3>
    <h6 class="card-subtitle mb-2 text-muted">Select now!</h6>
    <p class="card-text">Please select the type of insurance you need and get your quote today.</p>
    <a href="#" class="card-link">Car Insurance</a>
    <a href="#" class="card-link">Home Insurance</a>
  </div>
</div>



{{!--<h1>This is home</h1>


{{#each @model as |hom|}}
   <div class="panel panel-default">
       <div class="panel-body">
           {{hom.insurance}} - {{hom.types}}
       </div>
   </div>
{{/each}}
{{outlet}} --}}